body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-302px;
  top:0px;
  width:1874px;
  height:776px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:776px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:1870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:780px;
  top:639px;
  width:128px;
  height:120px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:828px;
  top:663px;
  width:32px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:803px;
  top:700px;
  width:80px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:745px;
  top:815px;
  width:265px;
  height:105px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:105px;
}
#u9 {
  position:absolute;
  left:2px;
  top:44px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:745px;
  top:782px;
  width:240px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:745px;
  top:836px;
  width:265px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0665;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:261px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:745px;
  top:870px;
  width:265px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:782px;
  width:240px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:50px;
  top:815px;
  width:685px;
  height:105px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:105px;
}
#u19 {
  position:absolute;
  left:2px;
  top:44px;
  width:681px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:322px;
  top:1010px;
  width:141px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:377px;
  top:860px;
  width:249px;
  height:14px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:14px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-12px;
  width:245px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:272px;
  top:815px;
  width:10px;
  height:105px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:88px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:105px;
}
#u25 {
  position:absolute;
  left:230px;
  top:962px;
  width:338px;
  height:18px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-10px;
  width:334px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:50px;
  top:840px;
  width:230px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:1px;
  width:226px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:51px;
  top:870px;
  width:229px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:225px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:50px;
  top:1190px;
  width:960px;
  height:181px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:181px;
}
#u32 {
  position:absolute;
  left:2px;
  top:82px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
