body {
  color: #555;
  font-size: 15px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body input,
body button,
body select,
body textarea {
  font-family: 'Open Sans', sans-serif;
}
/*===================================
=            Main styles            =
===================================*/
.markdown-body {
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  font-weight: 400;
  color: #e21885;
}
.markdown-body h1,
.markdown-body h2 {
  border-bottom: none;
}
.markdown-body h3 {
  margin-left: 15px;
}
.markdown-body ul + ol {
  margin-left: 30px;
}
main {
  max-width: 980px;
  margin: 0 auto;
}
main h1,
main h2,
main h3,
main h4 {
  font-weight: 400;
  color: #000;
}
main h1 {
  margin-top: 50px;
}
main h2 {
  font-size: 26px;
  margin: 50px 0px 0;
  border-top: 1px solid #ccc;
  padding-top: 50px;
  padding-bottom: 10px;
}
main .personas {
  list-style: none;
  padding: 0;
}
main .personas h3 {
  margin: 0;
  color: #f06;
}
main .personas strong {
  font-weight: 600;
}
main .personas img {
  width: 100px;
  border-radius: 50%;
}
main .personas .persona {
  margin-top: 50px;
}
main .personas .persona.clear {
  clear: left;
}
footer img {
  float: right;
  width: 150px;
  margin-right: 25px;
}
