body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1061px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-429px;
  top:0px;
  width:1919px;
  height:566px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1919px;
  height:566px;
}
#u1 {
  position:absolute;
  left:2px;
  top:275px;
  width:1915px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:500px;
  width:960px;
  height:370px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:370px;
}
#u3 {
  position:absolute;
  left:2px;
  top:177px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:910px;
  width:960px;
  height:181px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:181px;
}
#u5 {
  position:absolute;
  left:2px;
  top:82px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:359px;
  top:769px;
  width:401px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#FF0665;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:485px;
  top:772px;
  width:19px;
  height:18px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0665;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:522px;
  top:596px;
  width:208px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0665;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:204px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:356px;
  top:580px;
  width:184px;
  height:73px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:73px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:386px;
  top:676px;
  width:164px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:560px;
  top:676px;
  width:164px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:420px;
  top:520px;
  width:270px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0665;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:266px;
  word-wrap:break-word;
}
