body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:745px;
  top:813px;
  width:265px;
  height:105px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:105px;
}
#u1 {
  position:absolute;
  left:2px;
  top:44px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-302px;
  top:0px;
  width:1874px;
  height:776px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:776px;
}
#u3 {
  position:absolute;
  left:2px;
  top:380px;
  width:1870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:780px;
  top:639px;
  width:128px;
  height:120px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:52px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:745px;
  top:780px;
  width:240px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:828px;
  top:663px;
  width:32px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:803px;
  top:700px;
  width:80px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:745px;
  top:834px;
  width:265px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0665;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:261px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:745px;
  top:868px;
  width:265px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:261px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:780px;
  width:240px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:745px;
  top:928px;
  width:265px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:809px;
  top:938px;
  width:18px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:50px;
  top:814px;
  width:684px;
  height:231px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:231px;
}
#u23 {
  position:absolute;
  left:2px;
  top:108px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:130px;
  top:862px;
  width:560px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-13px;
  width:556px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:303px;
  top:951px;
  width:198px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:1190px;
  width:960px;
  height:181px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:181px;
}
#u29 {
  position:absolute;
  left:2px;
  top:82px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:50px;
  top:1200px;
  width:960px;
  height:181px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:181px;
}
#u31 {
  position:absolute;
  left:2px;
  top:82px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
