body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1270px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-302px;
  top:0px;
  width:1874px;
  height:776px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1874px;
  height:776px;
}
#u1 {
  position:absolute;
  left:2px;
  top:380px;
  width:1870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:780px;
  top:639px;
  width:128px;
  height:120px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:828px;
  top:663px;
  width:32px;
  height:36px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:803px;
  top:700px;
  width:80px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:776px;
  width:240px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:809px;
  width:684px;
  height:215px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:215px;
}
#u11 {
  position:absolute;
  left:2px;
  top:100px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:874px;
  width:230px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:1px;
  width:226px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:272px;
  top:809px;
  width:10px;
  height:215px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:198px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:215px;
}
#u15 {
  position:absolute;
  left:51px;
  top:904px;
  width:229px;
  height:40px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:225px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:837px;
  width:410px;
  height:48px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:48px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:406px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:1104px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:130px;
  top:1104px;
  width:93px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:380px;
  top:1104px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:590px;
  top:1104px;
  width:141px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:290px;
  top:1104px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:50px;
  top:1146px;
  width:50px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC99;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:130px;
  top:1146px;
  width:150px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC99;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:380px;
  top:1146px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC99;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-1px;
  width:236px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:590px;
  top:1146px;
  width:141px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC99;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-1px;
  width:137px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:290px;
  top:1146px;
  width:230px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#00CC99;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:50px;
  top:1124px;
  width:684px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:667px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:684px;
  height:1px;
}
#u40 {
  position:absolute;
  left:518px;
  top:1148px;
  width:14px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#00CC99;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:50px;
  top:1196px;
  width:50px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:130px;
  top:1196px;
  width:150px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:380px;
  top:1196px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-1px;
  width:236px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:649px;
  top:1196px;
  width:82px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:-1px;
  width:78px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:290px;
  top:1196px;
  width:230px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:50px;
  top:1174px;
  width:684px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:667px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:684px;
  height:1px;
}
#u53 {
  position:absolute;
  left:50px;
  top:1246px;
  width:50px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:130px;
  top:1246px;
  width:150px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:380px;
  top:1246px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:-1px;
  width:236px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:590px;
  top:1246px;
  width:141px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-1px;
  width:137px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:290px;
  top:1246px;
  width:230px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:50px;
  top:1224px;
  width:684px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:667px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:684px;
  height:1px;
}
#u64 {
  position:absolute;
  left:50px;
  top:1296px;
  width:50px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:130px;
  top:1296px;
  width:150px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:380px;
  top:1296px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:-1px;
  width:236px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:590px;
  top:1296px;
  width:141px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-1px;
  width:137px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:290px;
  top:1296px;
  width:230px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:50px;
  top:1274px;
  width:684px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:667px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:684px;
  height:1px;
}
#u75 {
  position:absolute;
  left:50px;
  top:1349px;
  width:50px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:130px;
  top:1349px;
  width:150px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:380px;
  top:1349px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-1px;
  width:236px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:590px;
  top:1349px;
  width:141px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-1px;
  width:137px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:290px;
  top:1349px;
  width:230px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:50px;
  top:1327px;
  width:684px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:667px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:684px;
  height:1px;
}
#u86 {
  position:absolute;
  left:50px;
  top:1399px;
  width:50px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-1px;
  width:46px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:130px;
  top:1399px;
  width:150px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:-1px;
  width:146px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:380px;
  top:1399px;
  width:240px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:20px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-1px;
  width:236px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:590px;
  top:1399px;
  width:141px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:right;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:-1px;
  width:137px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:290px;
  top:1399px;
  width:230px;
  height:20px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-1px;
  width:226px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:50px;
  top:1377px;
  width:684px;
  height:10px;
}
#u96_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_end {
  position:absolute;
  left:667px;
  top:-5px;
  width:18px;
  height:20px;
}
#u96_line {
  position:absolute;
  left:0px;
  top:5px;
  width:684px;
  height:1px;
}
#u97 {
  position:absolute;
  left:50px;
  top:1054px;
  width:240px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0665;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:302px;
  top:910px;
  width:260px;
  height:19px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:302px;
  top:939px;
  width:260px;
  height:19px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:302px;
  top:968px;
  width:260px;
  height:19px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:19px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:50px;
  top:1550px;
  width:960px;
  height:181px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:181px;
}
#u106 {
  position:absolute;
  left:2px;
  top:82px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:745px;
  top:810px;
  width:265px;
  height:105px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:105px;
}
#u108 {
  position:absolute;
  left:2px;
  top:44px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:786px;
  top:877px;
  width:74px;
  height:19px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:906px;
  top:877px;
  width:74px;
  height:19px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:795px;
  top:835px;
  width:45px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0665;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:1px;
  width:41px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:911px;
  top:835px;
  width:45px;
  height:40px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0665;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:1px;
  width:41px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:745px;
  top:955px;
  width:265px;
  height:17px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
}
#u118 {
  position:absolute;
  left:2px;
  top:-1px;
  width:261px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:745px;
  top:932px;
  width:265px;
  height:17px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-1px;
  width:261px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:745px;
  top:979px;
  width:265px;
  height:17px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
}
#u122 {
  position:absolute;
  left:2px;
  top:-1px;
  width:261px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:745px;
  top:1002px;
  width:265px;
  height:17px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
}
#u124 {
  position:absolute;
  left:2px;
  top:-1px;
  width:261px;
  word-wrap:break-word;
}
